{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "react/jsx-props-no-spreading": 0,
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "react/no-typos": 0,
    "no-return-assign": ["off"],
    "import/no-cycle": [0, { "maxDepth": 3 }],
    "react/destructuring-assignment": [0],
    "react/state-in-constructor": [0],
    "react/require-default-props": [0],
    "import/imports-first": 0,
    "import/newline-after-import": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/no-unresolved": 2,
    "import/no-webpack-loader-syntax": 0,
    "import/prefer-default-export": 0,
    "no-unused-vars": 2,
    "no-use-before-define": 0,
    "prefer-template": 2,
    "react/jsx-closing-tag-location": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-first-prop-new-line": [2, "multiline"],
    "react/jsx-no-target-blank": 0,
    "react/jsx-uses-vars": 2,
    "react/require-extension": 0,
    "react/self-closing-comp": 1,
    "react/sort-comp": 0,
    "require-yield": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
